<input #city>
<button calss="btn btn-default" (click)="searchCity(city.value)">Search</button>
<hr/>
<div class="col-md-4">
<div calss=row *ngFor="let city of cities">
  <div style="margin-bottom:10px;" class="btn btn-default" (click)="selectCity(city.id)">{{city.description}}</div>
</div>
</div>
<div class="col-md-8">
<div *ngIf="selectedCity != undefined">
  <div class="col-md-4">
    <b>Astronomy</b>
    <p>Sunrise: {{selectedCity.astronomy.sunrise}}</p>
    <p>Sunset: {{selectedCity.astronomy.sunset}}</p>
    <b>Atmosphere</b>
    <p>humidity: {{selectedCity.atmosphere.humidity}}</p>
    <p>pressure: {{selectedCity.atmosphere.pressure}} in</p>
    <p>visibility: {{selectedCity.atmosphere.visibility}} miles</p>
    <b>Temperature</b>
    <p>{{selectedCity.item.condition.temp}}&#8457; {{selectedCity.item.condition.text}}</p>
  </div>
  <div class="col-md-8">
      <b>Forecast</b>
      <div *ngFor="let item of selectedCity.item.forecast">
        <p>{{item.date}}, <b>{{item.day}}</b>, high: {{item.high}}&#8457;, low: {{item.low}}&#8457;, {{item.text}}</p>
      </div>
  </div>
</div>
</div>